{{define "footer"}}
<nav class="navbar">
    <div class="container">
            <div align="left">
                <a href="/items"><button type="button" class="btn navbar-btn navbar-left">ホーム</button></a>
            <a href="aboutus"><button type="button" class="btn navbar-btn navbar-left">このサイトについて</button></a>
            <a href="/contact"><button type="button" class="btn navbar-btn navbar-left">お問い合せ</button></a>
            </div>
            <p>Copyright © 2022. All rights reserved.</p>
    </div>
</nav>
{{end}}