{{define "content"}}
<h1>チャット一覧</h1>
<table class="table table-striped table-bordered text-center table-sm">
    <thead>
        <tr>
            <td>ID</td>
            <td>グループ</td>
            <td>削除</td>
        </tr>
    </thead>
    <tbody class="table-striped table-hover">
        {{ range .ChatGroups}}
        <tr>
            <td>{{.ID}}</td>
            <td>
                <a href="/chat/{{.ID}}">
                    <button type="button" class ="btn main-btn navbar-right">{{.ChatName}}</button>
                </a>
            </td>
            <td onload="tododelete();">
                <a href="/group/delete/{{.ID}}" onclick="return confirm('削除しますか')"><button type="button" class ="btn main-btn navbar-right">削除</button></a>
            </td>
        </tr>
        {{ end }}
</table>
{{end}}