{{define "content"}}
<div class="todolist">
<h1>チャット一覧</h1>
<form role="form" action="/sort" method="post">
    <div class="select select_child">
            <select name="sort" required>
                <option hidden>条件を指定</option>
                <option value="createdat_asc">作成日が新しい順</option>
                <option value="createdat_desc">作成日が古い順</option>
                <option id="deadline_asc" value="deadline_asc">期限が近い順</option>
            </select>
        </div>
    <button type="submit" class="btn navbar-btn home_nav">検索</button>
</form>
<table class="table table-striped table-bordered text-center table-sm">
    <thead>
        <tr>
            <td>ID</td>
            <td>グループ</td>
        </tr>
    </thead>
    <tbody class="table-striped table-hover">
        {{ range .ChatGroups}}
        <tr>
            <td>{{.ID}}</td>
            <td><a href="/chat/{{.ID}}"><button type="button" class ="btn navbar-btn navbar-right">グループ名：{{.ChatName}}</button></a></td>
        </tr>
        {{ end }}
</div>
</table>
<form role="form" action="/group/save" method="post">
</br>
    <h1>グループを作成する</h1>
    <div class="form-group">
        <div class="select select_child">
            <select name="chat_member" required>
                <option hidden>ユーザーを指定</option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
            </select>
        </div>
      <textarea class="form-control" name="chat_name" id="chat_name" placeholder="チャット名" rows="1"></textarea>
</br>
      <div class="todolist">
      <button class="btn btn-lg btn-primary pull-right navbar-btn" type="submit">作成</button>
      </div>
    </div>
</form> 
{{end}}