{{define "content"}}
<div class="todolist">
<h1>商品一覧</h1>
<form role="form" action="/sort" method="post">
    <div class="select select_child">
            <select name="sort" required>
                <option hidden>条件を指定</option>
                <option value="createdat_asc">作成日が新しい順</option>
                <option value="createdat_desc">作成日が古い順</option>
                <option id="deadline_asc" value="deadline_asc">期限が近い順</option>
            </select>
        </div>
    <button type="submit" class="btn navbar-btn home_nav">検索</button>
</form>
<div class="imges-wrapper">
    {{range .Items}}
    <div class="img">
        <a href="/items/{{.ID}}">
            <img src="" alt="{{.Title}}">
        </a>
    </div>
    <tr>
        <td>{{.Title}}</td>
        <td>
            <div name="created">{{.Price}}</div>
        </td>
        <td>{{.Category}}</td>
        <td>{{.Content}}</td>
        <td>
            <div name="created">{{.CreatedAt}}</div>
        </td>
    </tr>
    {{end}}
</div>
</div>
</table>
{{end}}