{{define "content"}}
</br>
<h1>商品を登録する</h1>
</br>
<div>
  <div class="todolist">
  <input type="file" id="inputFile" placeholder="写真を追加" onchange="OutputImage(this);" />
    <button type="button" class="btn btn-primary navbar-btn" id="uploadFile">写真を登録する</button>
  </div>
  <div id="samplePhotoURL">
  </div>
</div>
<script type="module">
  import { initializeApp } from 'https://www.gstatic.com/firebasejs/9.9.2/firebase-app.js';
  import { getStorage, ref, uploadBytes, getDownloadURL } from 'https://www.gstatic.com/firebasejs/9.9.2/firebase-storage.js';
  const firebaseConfig = {
    apiKey: "AIzaSyC08wZzoDB-TojuqkdjM4S3h-TtGNLf7gI",
    authDomain: "prac-ec.firebaseapp.com",
    projectId: "prac-ec",
    storageBucket: "prac-ec.appspot.com",
    messagingSenderId: "216459314207",
    appId: "1:216459314207:web:55ad381c9131426971012a"
  };
  const app = initializeApp(firebaseConfig);
  const storage = getStorage(app);

    document.getElementById("uploadFile").addEventListener("click", function() {
      
      var files = document.getElementById("inputFile").files;
      
      var image = files[0];

      const storageRef = ref(storage, "images/" + image.name);
      
      uploadBytes(storageRef, image).then((snapshot) => {
      alert('アップロードできました');
    });

    getDownloadURL(ref(storage, "images/" + image.name))
    .then((url) => {
      const input = document.getElementById('myimg');
      input.setAttribute('value', url);
    })
})
</script>
<form role="form" action="/items/save" method="post">
  </br>
  <div class="form-group">
    <textarea class="form-control" name="title" placeholder="商品タイトルを追加" rows="1"></textarea>
    </br>
    <textarea class="form-control" name="content" placeholder="商品概要を追加" rows="4"></textarea>
    </br>
    <div>
      <select name="category" placeholder="カテゴリーを指定">
        <option value="0"></option>
        <option value="1"></option>
        <option value="2"></option>
        <option value="3"></option>
        <option value="4"></option>
        </select>
    </div>
  </br>
  <div>
    <input type="number" min="100" step="10" name="price" placeholder="商品価格を追加">
  </div>
  </br>
  <input type="hidden" name="photo_url" id="myimg" value="">
  <div class="todolist">
    <button class="btn btn-lg btn-primary pull-right navbar-btn" type="submit">作成</button>
  </div>
  </div>
</form> 
{{end}}