{{define "navbar" }}
<nav class="navbar">
    <div class="container">
            <div align="left">
                <a href="/onsale"><button type="button" class="btn navbar-btn navbar-left">ホーム</button></a>
            </div>
            <div align="right">
                <a href="/items/new" button="suggest"><button type="button" class="btn navbar-btn navbar-right">出品する</button></a>
                <a href="/group" button="suggest"><button type="button" class="btn navbar-btn navbar-right">チャット</button></a>
            <a href="/profile"><button type="button" class="btn navbar-btn navbar-right">プロフィール</button></a>
            <a href="/logout"><button type="button" class="btn navbar-btn navbar-right">ログアウト</button></a>
            </div>
    </div>
 </nav>
{{end}}