{{define "content"}}
<form class="form-signin" role="form" action="/signup" method="post">
    <h2 class="form-signin-heading">
        サインアップ
    </h2>
    <input id="name" type="text" name="name" class="form-control" placeholder="アカウント名" required autofocus>
    <input type="email" name="email" class="form-control"  placeholder="メールアドレス" required>
    <input type="password" name="password" class="form-control" placeholder="パスワード" required>
    <div class="todolist">
    <button class="btn btn-lg btn-primary btn-block main-btn" type="submit">登録</button>
    </div>
</form>
{{end}}