{{define "content"}}
<form role="form" action="/todos/save" method="post">
    <h1>タスクを作成する</h1>
    <div class="form-group">
      <textarea class="form-control" name="content" id="content" placeholder="タスクを追加" rows="4"></textarea>
      <h3>期限を作成</h3>
      <input type="date" class="form-control" name="deadline" id="deadline">
      <br/>
      <div class="todolist">
      <button class="btn btn-lg btn-primary pull-right navbar-btn" type="submit">作成</button>
      </div>
    </div>
</form> 
{{end}}