.images-wrapper {
    display: grid;
    grid-template-columns: 130px 130px 130px;
    grid-gap: 160px;
    padding-right: 100px;
    clear:both;
  }
  
  .image {
    width:  250px;
    height: 250px;
  }
  
  .image img {
    max-width: 10px;
    max-height: 10px;
    object-fit: cover;
    background-position: center;
    box-shadow: 0 12px 10px -6px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    border-radius: 5px;
    transition: all;
  }
  
  .image img:hover {
    box-shadow: none;
    transition-duration: 0.3s;
    transform: translateY(5px);
  }

  .items_images {
    width:  250px;
    height: 200px;
  }

  .img-edited {
    width:  500;
    height: 400;
  }