.main-btn {
    border-radius: 0;
    border-color: #3d4151;
    background: #585e73;
    color: #fff;
}

.main-btn:hover {
        background: #fff;
        color: #686868;
}


.sort-btn{
	margin: 2em auto;
    margin-left: 7px;
    padding-bottom: 0.5em;
    text-align: left;
    float: left;
	
}

.container h1{
	margin-top: 5%;
}

.select {
	overflow: hidden;
	width: 30%;
	margin: 2em auto;
	text-align: left;
    float: left;
}
.select_child select {
	width: 100%;
	padding-right: 1em;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}
.select select::-ms-expand {
    display: none;
}
.select_child {
	position: relative;
	border: 1px solid #bbbbbb;
	border-radius: 2px;
	background: #ffffff;
}
.select_child::before {
	position: absolute;
	top: 0.8em;
	right: 0.9em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #666666;
	pointer-events: none;
}
.select_child select {
	padding: 8px 38px 8px 8px;
	color: #666666;
}

.clear{
	clear: both;
}

.inline{
	display: inline-block;
}